.cv-section {
    flex: 1 1 0%;
    height: 100%;
    overflow-y: auto;

    @include m.sm {
        height: auto;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: v.$color-bg-gray;
    }
}