.header {
    @include m.flex(row, space-between, center, 0);
    padding-inline: 24px;
    background-color: v.$color-white;
    border-bottom: 1px solid v.$color-app-bg;
    height: 64px;

    &-logo {
        @include m.flex-center(12px);
        margin: 12px;
    }

    &-logo-icon {
        @include m.flex-center;
        padding: 6px;
        color: v.$color-primary-hover;
        border-radius: 5px;
        background-color: #2463eb1a;
    }

}