.sidebar {
    height: 100%;
    width: 380px;
    background-color: v.$color-white;
    border-left: 1px solid v.$color-app-bg;
}

.sidebar__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid v.$color-app-bg;
}

.sidebar__header_button {
    margin-top: 24px;
    width: 100%;
}