.sidebar {
    width: 340px;
    background-color: v.$color-white;
    border-left: 1px solid v.$color-app-bg;
    overflow: auto;

    @include m.xl {
        width: 320px;
    }

    @include m.lg {
        width: 280px;
    }

    @include m.md {
        width: 200px;
    }

    @include m.sm {
        width: 100%;
    }

    @include m.xs {
        width: 100%;
    }


    &__header {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        padding: v.$spacing-md;
        border-bottom: 1px solid v.$color-app-bg;

        &__button {
            margin-top: v.$spacing-md;
            width: 100%;
        }
    }


}