.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  &__modal {
    width: 90%;
    max-width: 600px;
    background-color: v.$color-white;
    border-radius: v.$border-radius;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
    overflow: hidden;


    &__header {
      display: flex;
      padding: v.$spacing-md v.$spacing-md 0;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid v.$color-bg-gray;
      margin-bottom: v.$spacing-md;
    }

    &__description {
      padding: 0 v.$spacing-md;
      margin-bottom: v.$spacing-md;
    }

    &__content {
      padding: 0 v.$spacing-md;
    }

    &__footer {
      border-top: 1px solid v.$color-bg-gray;
      display: flex;
      justify-content: flex-end;
      gap: v.$spacing-sm;
      align-items: center;
      padding: v.$spacing-md v.$spacing-md;
      margin-top: v.$spacing-md;
      background-color: v.$color-bg-gray;
      border-bottom-left-radius: v.$border-radius;
      border-bottom-right-radius: v.$border-radius;
    }

  }
}