@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$font-main: "Inter", system-ui, sans-serif;
$font-size-base: 16px;

$a4-width: 210px;
$a4-height: 297px;

$breakpoint-xl: 1280px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
$breakpoint-xs: 360px;

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$border-radius: 1rem;

:root {
    --color-primary: #2463eb;
    --color-primary-hover: #225ddd;
    --color-text: #1e293b;
    --color-text-light: #64748b;
    --color-bg-gray: #f8fafc;
    --color-app-bg: #e2e8f0;
    --color-white: #ffffff;
    --color-black: #000000;
}

$color-primary: var(--color-primary);
$color-primary-hover: var(--color-primary-hover);
$color-text: var(--color-text);
$color-text-light: var(--color-text-light);
$color-bg-gray: var(--color-bg-gray);
$color-app-bg: var(--color-app-bg);
$color-white: var(--color-white);
$color-black: var(--color-black);