@use "variables" as v;
@use "mixins" as m;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    @include m.xl {
        font-size: 14px;
    }

    @include m.md {
        font-size: 12px;
    }
}

:root {
    font-family: v.$font-main;

    color-scheme: light dark;
    color: v.$color-text;
    background-color: v.$color-bg-gray;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1
}

#root {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    display: flex;
}