.feedback-button {
    margin-top: v.$spacing-md;
    width: 100%;
}

.feedback-form {

    &__content {
        padding: v.$spacing-md;

        &__textarea {
            width: 100%;
            height: 200px;
            padding: v.$spacing-md;
            font-size: 18px;
            border: 1px solid v.$color-text-light;
            border-radius: v.$border-radius;
            resize: none;
            color: v.$color-text;
            background-color: v.$color-white;
        }
    }
}