.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    @include m.sm {
        overflow: auto;
    }


    &__main {
        height: 80%;
        display: flex;
        flex-direction: row;
        flex: 1 1 0%;

        @include m.sm {
            display: block;
        }
    }
}