.cv-awards-container {
    margin-top: 1.1em;
    margin-bottom: 1.2em
}

.cv-awards {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 1rem;
    letter-spacing: -0.01em;

    &__duration {
        display: flex;

        &__text {
            margin-top: 0.45em;
        }
    }

    &__content {
        display: flex;
        margin-left: 0.25em;
        margin-top: 0.3em;
        letter-spacing: -0.009em;
    }
}